<header id="header" class="fixed-top">
  <div class="container-fluid">

    <div id="logo" class="speed-loan-title">
      <h1><a href="#intro" class="scrollto">SpeedLoan</a></h1>

    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a routerLink="/home"  routerLinkActive="active-menu">Home</a></li>
        <li><a routerLink="/about-us" routerLinkActive="active-menu">About Us</a></li>
        <li><a routerLink="/how-it-works" routerLinkActive="active-menu">How it Works</a></li>
        <li><a routerLink="/application" routerLinkActive="active-menu">Apply</a></li>
        <li><a routerLink="/faq" routerLinkActive="active-menu">FAQ</a></li>
        <li><a routerLink="/contact-us" routerLinkActive="active-menu">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
