<header id="header" class="fixed-top">
  <div class="container-fluid">

    <div id="logo" class="speed-loan-title">
      <h1><a href="#intro" class="scrollto">SpeedLoan</a></h1>

    </div>

    <nav id="nav-menu-container" class="navbar navbar-expand-md">
      <ul class="nav-menu navbar-nav">
        <li class="nav-itom"><a routerLink="/home"  routerLinkActive="active-menu" class="nav-link">Home</a></li>
        <li><a routerLink="/about-us" routerLinkActive="active-menu" class="nav-link">About Us</a></li>
        <li><a routerLink="/how-it-works" routerLinkActive="active-menu" class="nav-link">How it Works</a></li>
        <li><a routerLink="/application" routerLinkActive="active-menu" class="nav-link">Apply</a></li>
        <li><a routerLink="/faq" routerLinkActive="active-menu" class="nav-link">FAQ</a></li>
        <li><a routerLink="/contact-us" routerLinkActive="active-menu" class="nav-link">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
