<div>
<div class="contact-us">
    <img src="../../../assets/images/speedloan4/contact.jpg" width="100%"/>
</div>

<div>
  <div class="offset-2 col-md-8 contact-us-form">
    <p>We are willing to answer all your questions, and help you understand how fast cash loans can be better and more convenient.</p>
    <p>				      Shall we talk?				    </p>
    <p>&nbsp;</p>

    <div class="col-md-12">
      <form name="basic-form">
        <div class="col-md-12 row">
          <div class="col-md-6 ">
            <input class="form-control home-input" name="userName" type="text" placeholder="FirstName LastName">
            <input class="form-control home-input" name="contactNumber" type="text" placeholder="Contact Number">
          </div>
          <div class="col-md-6 ">
            <input class="form-control home-input" name="loanAmount" type="text" placeholder="Loan Amount">
            <input class="form-control home-input" name="zipCode" type="text" placeholder="Zip Code">
          </div>
          <input class="form-control home-input email-io" name="emailAddress" placeholder="Email Address" type="text">
          <textarea class="form-control home-input description-field" name="description" placeholder="Description" type="text"></textarea>
        </div>
        <div class="sub-btn text-center">
        <button class="btn submit-btn home-input " name="submit">Submit</button>
        </div>
      </form>
    </div>

    <p>Find out more about our Business <br />
      &Oslash; to work with some of the best financial companies (the lenders)<br />
      &Oslash; to work with us for mutual benefits and more</p>
    <p> Email us at: <br />
      We aim to give you a complete answer within two working days.</p>
  </div>
</div>

  <div class="container" id="payDayLoanServices" class=" payDay-loan-services page-content" data-stellar-background-ratio="0.5" style="background-position: 50% 101.406px;">
    <div class="row p-md-4">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-4">
            <div class="payday-bg"><h4 class="text-white font-weight-bold">Payday Loan Services</h4></div>
            <br>
            <p class="text-white">
              &#8594; 100% Secure<br>
              &#8594; Fast Approval<br>
              &#8594; Up to $1000<br>
              &#8594; Cash Advance<br>
              &#8594; No Credit Check<br>
              &#8594; Paperwork: none<br>
              &#8594; Hassles: none<br>
            </p>
            <br>

          </div>
          <div class="col-md-4 ">
            <div class="recomended-bg"><h4 class="text-white font-weight-bold">Recomended Reading</h4></div>
            <br>
            <div><img src="../../../assets/images/speedloan4/map.jpg" alt="Online Loan Cards" class="map" title="Online Loan Cards Business Locations" border="0"></div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!--<div style="height: 90px;background-color: #6db3e4;"> </div>-->
  <!--<div class="contact-us">-->
    <!--<div class="col-md-12 row contact-back" >-->
      <!--<div class="col-md-8">-->
        <!--<div class="back-color"><h2 class="contactus-color">Contact Us</h2></div>-->
        <!--<p>We are willing to answer all your questions, and help you understand how fast cash loans can be better and more convenient.</p>-->
        <!--<p>				      Shall we talk?				    </p>-->
        <!--<p>&nbsp;</p>-->

        <!--<div class="col-md-12 contactus-form">-->
          <!--<form name="basic-form">-->
            <!--<div class="col-md-12 row">-->
              <!--<div class="col-md-6">-->
                <!--<input class="form-control home-input" name="userName" type="text" placeholder="FirstName LastName">-->
                <!--<input class="form-control home-input" name="contactNumber" type="text" placeholder="Contact Number">-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
                <!--<input class="form-control home-input" name="loanAmount" type="text" placeholder="Loan Amount">-->
                <!--<input class="form-control home-input" name="zipCode" type="text" placeholder="Zip Code">-->
              <!--</div>-->
              <!--<input class="form-control home-input email-io" name="emailAddress" placeholder="Email Address" type="text">-->
              <!--<textarea class="form-control home-input description-field" name="description" placeholder="Description" type="text"></textarea>-->
            <!--</div>-->
            <!--<button class="btn btn-primary home-input sub-btn" name="submit">Submit</button>-->
          <!--</form>-->
        <!--</div>-->

        <!--<p>Find out more about our Business <br />-->
          <!--&Oslash; to work with some of the best financial companies (the lenders)<br />-->
          <!--&Oslash; to work with us for mutual benefits and more</p>-->
        <!--<p> Email us at: <br />-->
          <!--We aim to give you a complete answer within two working days.</p>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<div class="col-md-12">-->
          <!--<div class="pay-loan-bg" ><h2 class="pay-loan-color">Payday Loan Services</h2></div>-->
          <!--<ul>-->
            <!--<li>100% Secure</li>-->
            <!--<li>Fast Approval</li>-->
            <!--<li>Up to $1000</li>-->
            <!--<li>Cash Advance</li>-->
            <!--<li>No Credit Check</li>-->
            <!--<li>Paperwork: none</li>-->
            <!--<li>Hassles: none</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-12">-->
          <!--<div class="rec-read-bg"><h2 class="rec-read-color">Recomended Reading</h2></div>-->
          <!--<div><img src="../../../assets/images/speedloan4/map.jpg" alt="Online Loan Cards" class="map" title="Online Loan Cards Business Locations" border="0"></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <a href="contact-us" class="back-to-top"><i class="ion ion-chevron-up"></i></a>
  <app-footer></app-footer>
</div>
