<div>
<div class="home-page-getting-money">
      <div class="home-inner-div">
        <div class="row_margin">
          <div class="one_half">
            <div id="moneyTransfer">
              <h4 class="money-transfer">15-Minute Transfer</h4>
            </div>
            <div id="gettingMoney">
              <h1 class="getting-money">Getting Money </h1>
            </div>
            <div id="isNowAsEasyAsSpending" class="is-now-as-easy-as-spending">
              <h4 class="is-now-as-easy-as-spending">is now as easy as spending </h4>
            </div>
            <div id="linkHowItWorks" class="link-how-it-works"><a href="/how-it-works" class="how-it-works-btn home-page-btn cmsmasters_customizing">How it works?</a></div>
            <div id="linkWhyPayDayLoans"><a href="/about-us" class="link-why-pay-day-loans home-page-btn cmsmasters_customizing">Why PayDay loans</a></div>
          </div>
          <div class=" one_half">
            <div id="homeApplicationForm" class="home-application-form cmsmasters_featured_block cmsmasters_customizing">
              <div class="featured_block_inner">
                <div class="featured_block_text">
                  <div id="howMuchDoYouNeed" class="how-much-do-you-need text-center">
                    <h2 class="cmsmasters_heading">How much do you need?</h2>
                  </div>
                  <form name="loginForm"  action="?" method="post">
                            <div class="form-group form-fields" >
                              <label>Amount of money ($)</label>
                              <div><input type="number" name="amountOfMoney"></div>

                            </div>
                            <div class="form-group">
                              <label>How long for?</label>
                              <div><input type="number" name="howLongFor"></div>

                            </div>
                            <div class="form-group" >
                              <label>Repayment</label>
                              <div><input type="number" name="repayment"></div>
                            </div>
                  </form>
                  <br>
                  <div><a href="/application" class="btn btn-primary btn-round "><span>Get your loan now!</span></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


  <!------------------------------------------second div----------------------------------------->

  <div id="speedLoanAndIncome" class="speed-loan-and-income">
    <div class="col-md-12 row">
      <div class="col-md-2"></div>
      <div class="col-md-4 speed-loan-expenses"><h2 class="expenses text-white text-center font-weight-bold">SpeedLoan when expenses exceed savings
        and income</h2></div>
      <div class="col-md-2"></div>
      <div class="col-md-4"><img src="../../../assets/images/bank-note.jpg" width="300" height="300"></div>
    </div>
  </div>


<!-- -----------------------Third div------------------------------------->
    <section id="services">
      <div class="container mt-4">
        <div class="col-3">

        </div>
        <div class="row">
          <div class="col-lg-3">

          </div>
          <div class="col-lg-4 col-md-6 box wow">
            <div class="icon"><i class="ion-ios-locked-outline"></i></div>
            <h4 class="title">100% Safe & Secure</h4>
            <p class="description">Guarented Security <br>  Fast & simple <br> Online cash Transfer</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title">Instant e-Approval</h4>
            <p class="description">speed Loan<br>fill online form<br>Quick cash</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">

          </div>
          <div class="col-lg-4 col-md-6 box wow">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title">24x7 Guide</h4>
            <p class="description">Speed support<br>Fast processing<br>No Application Fee</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title">Small Loans</h4>
            <p class="description">Rapid installment<br>No Paperwork<br>No faxing</p>
          </div>
        </div>
      </div>
    </section>



<!-------------------------Forth Div--------------------------------------->
  <div class=" apply-online-now  cmsmasters_color_scheme_second"
       style=" background-color: #18d26e;">
    <div class="offset-2 col-md-8 apply-ol">
      <br>
      <br>
      <div class="text-white text-center"><h2 class="font-weight-bold">Apply Online Now and Get Instant
        e-Approval </h2></div>
      <div class="apply-Online-info">
      <p class="p-cls">You always want to go shopping at the end of the month or you want to pay the installment of the LCD TV in
        your bedroom or grab the latest LED or pay the medical and other important bills. Problematic? Don&rsquo;t
        worry; you are exactly where you are supposed to be! In fact, speedloan4U exists for this very reason.
        We help you improve your financial situation, quick and just a few steps away. However, we don&rsquo;t
        discriminate who had difficulty obtaining short term loan, previously. Now, we are here to help you in your
        times of worries and make you more comfortable.<br/>
        Our Specialty</p>
        <br>
      <p>
        &#8594; An exclusive offer to our payday loans customers who are ready to enjoy. <br>
        &#8594; We fund your dreams; we also understand that you need to spend.<br>
        &#8594; Use our owned source of funds, and take a loan, up to 1000$, if you want to purchase something and
          payback urgently <br>
        &#8594; No secret charges to fill the form &amp; get the loan from the trusted Lenders directly<br>
      </p>
      </div>
      <br>
      <h5 align="center" style="color: white"><strong>Speedloan4u is the Quality Lender with the unique features and the </strong></h5>
      <h5 align="center" style="color: white"><strong>uncountable benefits</strong> <strong>Fill the Loan application form Right
        Now</strong><br/>
        <strong>Pay a few installments upfront along with a nominal processing fee</strong></h5>
      <h3>&nbsp;</h3>
    </div>
  </div>

  <!-------------------------Fifth div-------------------------------------->

  <div class="cmsmasters_row">
    <div class="row p-md-4">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-4">
            <div><h4 class="font-weight-bold">Payday Loan Services</h4></div>
            <br>
            <p>
              &#8594; 100% Secure <br>
              &#8594; Fast Approval<br>
              &#8594; Up to $1000<br>
              &#8594; Cash Advance<br>
              &#8594; No Credit Check<br>
              &#8594; Paperwork: none<br>
              &#8594; Hassles: none<br>
            </p>
            <br>

          </div>
          <div class="col-md-4 ">
            <div><h4 class="font-weight-bold">FAQ</h4></div><br>
            <div class="text-left faq">
            <h5 class="p-cls"><a href="/faq">Q. What is Payday loan?</a></h5><br>
            <h5 class="p-cls"><a href="/faq">Q. How much money can you borrow?</a></h5><br>
            <h5 class="p-cls"><a href="/faq">Q. Any application fee?</a></h5><br>
            <h5 class="p-cls"><a href="/faq">Q. Who can apply for payday Loan?</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------footer-------------------------------------->
  <a href="#" class="back-to-top"><i class="ion ion-chevron-up"></i></a>
  <app-footer></app-footer>
</div>
