<div class="sidebar" data-background-color="white" data-active-color="danger">

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text">
        QLAP
      </a>
    </div>

    <ul class="nav navbar">
      <li>
        <a routerLink="home" class="app-menu__item" routerLinkActive="active" #dashboard="routerLinkActive">
          <i class="ti-panel"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a routerLink="applications" class="app-menu__item" routerLinkActive="active" #applicaton="routerLinkActive">
          <i class="ti-notepad"></i>
          <p>Application</p>
        </a>
      </li>
      <li>
        <a routerLink="user" routerLinkActive="active">
          <i class="ti-user"></i>
          <p>User Management</p>
        </a>
      </li>
      <li>
        <a routerLink="customers" routerLinkActive="active">
          <i class="ti-map"></i>
          <p>Customer Management</p>
        </a>
      </li>
      <li>
        <a routerLink="investors" routerLinkActive="active">
          <i class="ti-stats-up"></i>
          <p>Investor Management</p>
        </a>
      </li>
      <li>
        <a routerLink="notifications.html" routerLinkActive="active">
          <i class="ti-bell"></i>
          <p>Notifications</p>
        </a>
      </li>
    </ul>
  </div>
</div>
