<div class="sidebar-wrapper">
  <div class="logo">
    <a href="/qlap/home" class="simple-text">
      Pronto <br/> <small>Admin</small>
    </a>
  </div>

  <ul class="nav">
    <li routerLinkActive="active" #dashboard="routerLinkActive">
      <a routerLink="home" class=""  >
        <i class="ti-panel"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li routerLinkActive="active" #applicaton="routerLinkActive">
      <a routerLink="applications" class=""  >
        <i class="ti-notepad"></i>
        <p>Application</p>
      </a>
    </li>
    <li routerLinkActive="active" #user="routerLinkActive">
      <a routerLink="user" >
        <i class="ti-user"></i>
        <p>User Management</p>
      </a>
    </li>
    <li routerLinkActive="active" #customers="routerLinkActive">
      <a routerLink="customers" >
        <i class="ti-map"></i>
        <p>Customers</p>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="investors">
        <i class="ti-stats-up"></i>
        <p>Investors</p>
      </a>
    </li>
    <!--<li routerLinkActive="active">-->
      <!--<a routerLink="notifications">-->
        <!--<i class="ti-stats-up"></i>-->
        <!--<p>Notifications</p>-->
      <!--</a>-->
    <!--</li>-->
  </ul>
</div>
