<div class="sidebar" data-background-color="white" data-active-color="danger">

  <!--
      Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
      Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text">
        QLAP
      </a>
    </div>

    <ul class="nav">
      <li class="active">
        <a href="/home">
          <i class="ti-panel"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="/applications">
          <i class="ti-notepad"></i>
          <p>Application</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="ti-user"></i>
          <p>User Management</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="ti-stats-up"></i>
          <p>Investor Management</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="ti-pencil-alt2"></i>
          <p>Icons</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="ti-map"></i>
          <p>Customer Management</p>
        </a>
      </li>
      <li>
        <a href="notifications.html">
          <i class="ti-bell"></i>
          <p>Notifications</p>
        </a>
      </li>
      <li class="active-pro">
        <a href="upgrade.html">
          <i class="ti-export"></i>
          <p>Upgrade to PRO</p>
        </a>
      </li>
    </ul>
  </div>
</div>
