<div class="container">
  <div class="row">
    <div class="col col-md-4">
      <div class="card card-inverse card-success">
        <div class="card-header">
          <h5 class="text-dark" i18n>User Management</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action"><a routerLink="/user" id="userLink" class="text-success  nav-link" routerLinkActive="active">Users</a></li>
          <li class="list-group-item list-group-item-action"><a routerLink="/newuser" id="newuserLink" class="text-success nav-link" routerLinkActive="active">New Users</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
