<div style="margin-top: 100px">
  <div class="col-md-12 row" style="background-color: #B6D8F0; margin: 5px; padding-top: 5px;">
    <div class="col-md-8">
      <div style="background-color: darkslateblue"><h2 style="color: white">Contact Us</h2></div>
      <p>We are willing to answer all your questions, and help you understand how fast cash loans can be better and more convenient.</p>
      <p>				      Shall we talk?				    </p>
      <p>&nbsp;</p>

      <div class="col-md-12" style="text-align: center;">
        <form name="basic-form">
          <div class="col-md-12 row">
            <div class="col-md-6">
              <input class="form-control home-input" name="userName" type="text" placeholder="FirstName LastName">
              <input class="form-control home-input" name="contactNumber" type="text" placeholder="Contact Number">
            </div>
            <div class="col-md-6">
              <input class="form-control home-input" name="loanAmount" type="text" placeholder="Loan Amount">
              <input class="form-control home-input" name="zipCode" type="text" placeholder="Zip Code">
            </div>
            <input style="margin-left: 25px" class="form-control home-input" name="emailAddress" placeholder="Email Address" type="text">
            <textarea style="margin-left: 25px" class="form-control home-input" name="description" placeholder="Description" type="text"></textarea>
          </div>
          <button style="width: 30%" class="btn btn-primary home-input" name="submit">Submit</button>
        </form>
      </div>

      <p>Find out more about our Business <br />
        &Oslash; to work with some of the best financial companies (the lenders)<br />
        &Oslash; to work with us for mutual benefits and more</p>
      <p> Email us at: <br />
        We aim to give you a complete answer within two working days.</p>
       </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <div style="background-color: darkslateblue"><h2 style="color: white">Payday Loan Services</h2></div>
        <ul>
          <li>100% Secure</li>
          <li>Fast Approval</li>
          <li>Up to $1000</li>
          <li>Cash Advance</li>
          <li>No Credit Check</li>
          <li>Paperwork: none</li>
          <li>Hassles: none</li>
        </ul>
      </div>
      <div class="col-md-12">
        <div style="background-color: darkslateblue"><h2 style="color: white">Recomended Reading</h2></div>
        <div><img src="../../../assets/images/speedloan4/map.jpg" alt="Online Loan Cards" class="map" title="Online Loan Cards Business Locations" border="0"></div>
      </div>
    </div>
  </div>

</div>
