<div style="margin-top: 100px">
  <div class="col-md-12 row" style="background-color: #B6D8F0; margin: 5px; padding-top: 5px;">
    <div class="col-md-8">
      <p>*All requested information is required.</p>
      <div style="background-color: darkslateblue"><h2 style="color: white">Application Form</h2></div>
      <div class="col-md-12" style="text-align: center;">
        <form name="basic-form">
          <div class="col-md-12 row text-right">
            <div class="col-md-12 text-center"><h5><strong>User Details</strong></h5></div>
            <div class="col-md-6 row" >

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">First Name:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="firstName" type="text" placeholder="First Name">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Last Name:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="lastName" type="text" placeholder="Last Name">
                </div>
              </div>


              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label>Best time to call:</label>
                </div>
                <div class="col-md-7">
                  <select class="form-control home-input" name="bestTimeToCall" type="text">
                    <option>morning</option>
                  </select>
                </div>
              </div>


              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label>License Number:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="licenseNumber" type="text" placeholder="License Number">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">License Issue Date:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="licIssueDate" type="date" placeholder="date of Birth">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label>Military Dependancy:</label>
                </div>
                <div class="col-md-7 row">
                  <input class="form-control home-input" name="isMilitaryDependant" type="radio">
                </div>
              </div>
            </div>

            <div class="col-md-6 row">
              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Middle Name:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="middleName" type="text" placeholder="Middle Name">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5 mt-3">
                  <label>Marital status:</label>
                </div>
                <div class="col-md-7">
                  <select class="form-control home-input" name="maritalStatus" type="text">
                    <option>single</option>
                  </select>
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Date of Birth:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="doB" type="date" placeholder="date of Birth">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5 mt-3">
                  <label>License State:</label>
                </div>
                <div class="col-md-7">
                  <select class="form-control home-input" name="licState" type="text">
                    <option></option>
                  </select>
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">License Expiration Date:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="licExpirationDate" type="date" placeholder="License Expiration Date">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Us Citizenship:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="isUsCitizen" type="radio">
                </div>
              </div>
            </div>
            </div>

          <div class="col-md-12 row text-right">
            <div class="col-md-12 text-center"><h5><strong>Address Details</strong></h5></div>
            <div class="col-md-6 row">
              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Address:</label>
                </div>
                <div class="col-md-7">
                  <textarea class="form-control home-input" name="address" type="text"></textarea>
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">State:</label>
                </div>
                <div class="col-md-7">
                  <select class="form-control home-input" name="state" type="text">
                    <option></option>
                  </select>
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Country:</label>
                </div>
                <div class="col-md-7">
                  <select class="form-control home-input" name="country" type="text">
                    <option></option>
                  </select>
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Stay Type:</label>
                </div>
                <div class="col-md-7">
                  <select class="form-control home-input" name="stayType" type="date">
                    <option></option>
                  </select>
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label>Years In Current address:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="yrsInCurrentaddress" type="number">
                </div>
              </div>
            </div>

            <div class="col-md-6 row">
              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">City:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="city" type="text">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Zip Code:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="zipCode" type="text" placeholder="Zip Code">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label>Months In Current address:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="monthsInCurrentaddress" type="number" placeholder="Months In Current address">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Active Status:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="activeStatus" type="radio" placeholder="Active Status">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 row text-right">
            <div class="col-md-12 text-center"><h5><strong>Bank Details</strong></h5></div>
            <div class="col-md-6 row">
              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Routing Number:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="abaOrRoutingNumber" type="text">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Account Type:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="accountType" type="text">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Bank Phone:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="bankPhone" type="number">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Deposit Status:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="isDirectDeposit" type="radio" placeholder="Is Direct Deposit">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Active Status:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="activeStatus" type="radio" placeholder="Active Status">
                </div>
              </div>
            </div>

            <div class="col-md-6 row">
              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Account Number:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="accountNumber" type="text">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Bank Name:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="bankName" type="text" placeholder="Bank Name">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label>Duration Of Bank Account:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="durationOfBankAccount" type="number" placeholder="Duration Of Bank Account">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Monthly Income:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="monthlyIncome" type="text" placeholder="Monthly Income">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 row text-right">
            <div class="col-md-12 text-center"><h5><strong>Contact Details</strong></h5></div>
            <div class="col-md-6 row">
              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Email Id:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="emailId" type="email" placeholder="Email Id">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Cell Phone2:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="cellPhone2" type="text" placeholder="Cell Phone2">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Home Phone 1:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="homePhone1" type="number" placeholder="Home Phone 1">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Home Phone 3:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="homePhone3" type="number" placeholder="Home Phone 3">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Active Status:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="activeStatus" type="radio" placeholder="Active Status">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label>Residential status:</label>
                </div>
                <div class="col-md-7">
                  <select class="form-control home-input" name="residentialStatus" type="text">
                    <option></option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-6 row">
              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Confirm Email Id:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="confirmEmailId" type="email" placeholder="Confirm Email Id">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Cell Phone1:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="cellPhone1" type="number" placeholder="Cell Phone1">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Cell Phone3:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="cellPhone3" type="number" placeholder="Cell Phone3">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Home Phone 2:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="homePhone2" type="number" placeholder="Home Phone2">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Work Phone:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="workPhone" type="number" placeholder="Work Phone">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Date of Move:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="dateOfMove" type="date" placeholder="date of Move">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 row text-right">
            <div class="col-md-12 text-center"><h5><strong>Employment Details</strong></h5></div>
            <div class="col-md-6 row">

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Company Name:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="companyName" type="number" placeholder="Company Name">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Income Type:</label>
                </div>
                <div class="col-md-7">
                  <select class="form-control home-input" name="incomeType" type="text">
                    <option></option>
                  </select>
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Employer Name:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="employerName" type="number" placeholder="Employer Name">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label>Current Employed Duration:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="currentEmployedDuration" type="number" placeholder="Current Employed Duration">
                </div>
              </div>
            </div>

            <div class="col-md-6 row">
              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Company Address:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="companyAddress" type="text" placeholder="Company Address">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Job Title:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="jobTitle" type="text" placeholder="Job Title">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Employer Phone:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="employerPhone" type="number" placeholder="Employer Phone">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Active Status:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="activeStatus" type="radio" placeholder="Active Status">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 row text-right">
            <div class="col-md-12 text-center"><h5><strong>Loan Details</strong></h5></div>
            <div class="col-md-6 row">

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Loan Amount:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="loanAmount" type="number" placeholder="Loan Amount">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Deadline Date:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="deadlineDate" type="date" placeholder="Deadline Date">
                </div>
              </div>
            </div>

            <div class="col-md-6 row">
              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Loan Purpose:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="loanPurpose" type="text" placeholder="Loan Purpose">
                </div>
              </div>
          </div>
          </div>

          <div class="col-md-12 row text-right">
            <div class="col-md-12 text-center"><h5><strong>Payment Details</strong></h5></div>
            <div class="col-md-6 row">

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Payment Frequency:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="paymentFrequency" type="number" placeholder="Payment Frequency">
                </div>
              </div>

               <div class="col-md-12 row">
                  <div class="col-md-5">
                    <label class="form-input-label">Sort Code:</label>
                  </div>
                  <div class="col-md-7">
                    <input class="form-control home-input" name="sortCode" type="text" placeholder="Sort Code">
                  </div>
                </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Bank Account:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="bankAccount" type="text" placeholder="Bank Account">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Monthly Expenses:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="monthlyExpenses" type="text" placeholder="Monthly Expenses">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label>Second Pay Day:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="secondPayDay" type="date" placeholder="Second Pay Day">
                </div>
              </div>
            </div>

            <div class="col-md-6 row">
              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">NexT Pay Day:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="nexTPayDay" type="date" placeholder="NexT Pay Day">
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Monthly Income:</label>
                </div>
                <div class="col-md-7">
                  <select class="form-control home-input" name="monthlyIncome" type="text">
                    <option></option>
                  </select>
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Income Source:</label>
                </div>
                <div class="col-md-7">
                  <select class="form-control home-input" name="incomeSource" type="text">
                    <option></option>
                  </select>
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Payment Method:</label>
                </div>
                <div class="col-md-7">
                  <select class="form-control home-input" name="paymentMethod" type="text">
                    <option></option>
                  </select>
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-5">
                  <label class="form-input-label">Active Status:</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control home-input" name="activeStatus" type="radio" placeholder="Active Status">
                </div>
              </div>
            </div>
          </div>

          <button style="width: 30%" class="btn btn-primary home-input" name="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <div style="background-color: darkslateblue"><h2 style="color: white">Payday Loan Services</h2></div>
        <ul>
          <li>100% Secure</li>
          <li>Fast Approval</li>
          <li>Up to $1000</li>
          <li>Cash Advance</li>
          <li>No Credit Check</li>
          <li>Paperwork: none</li>
          <li>Hassles: none</li>
        </ul>
      </div>
      <div class="col-md-12">
        <div style="background-color: darkslateblue"><h2 style="color: white">Recomended Reading</h2></div>
        <div><img src="../../../assets/images/speedloan4/map.jpg" alt="Online Loan Cards" class="map" title="Online Loan Cards Business Locations" border="0"></div>
      </div>
    </div>
  </div>
</div>
