<div>
  <ul class="list-group users">
    <li class="list-group-item list-group-item-action justify-content-between" *ngFor="let user of users">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-4">
              <h5 class="mb-1">{{ user.remarks }}</h5>
            </div>
            <div class="col-sm-4">
              <small>User email id is {{user.remarks}}</small>
            </div>
            <div class="col-sm-4">
              <small>{{ user.applicationDate }} </small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-sm-4">
              <button class="btn btn-lg btn-default cust-details-btn" type="button" (click)="openModal(user.id)">Customer Details</button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-lg btn-default accept-btn" (click)="onClickAcceptBtn()">Accept</button>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-lg btn-danger reject-btn" (click)="onClickRejectBtn()">Reject</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>


<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" *ngIf="userInfo" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <p>First Name :</p>
                </div>
                <div class="col-md-3">
                  <p>{{userInfo.firstName}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <p>Last Name :</p>
                </div>
                <div class="col-md-3">
                  <p>{{userInfo.lastName}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->


<!--<app-application-details *ngIf="currentUser" [userInfo]="currentUser" [display]="display"></app-application-details>-->

