.faq-scr {
  margin-top: 100px;
}

.faq-scr-bg {
  background-color: #B6D8F0;
  margin: 5px;
  padding-top: 5px;
}

.frequently-bg {
  background-color: darkslateblue;
}

.frequently-color {
  color: white;
}

.loan-serv-bg {
  background-color: darkslateblue;
}

.loan-serv-color {
  color: white;
}

.recrd-bg {
  background-color: darkslateblue;
}

.recrd-color {
  color: white;
}
