<div class="main-panel">
  <app-header [pageName]="'Customers'"></app-header>

  <div >

    <!--<div class="selectappStatusdiv">
    <label class="selectLabelSatus"   for="applicationStatus">Application Status</label>
    <select name="applicationStatus" class="applicationStatus" id="applicationStatus" (change)="renderApplicationList($event)">
      <option value="all">All</option>
      <option value="approved">Approved</option>
      <option value="pending">Pending</option>
      <option value="rejected">Rejected</option>
    </select>
    </div>

    <div *ngFor="let element of renderedList">
      <div class="row" id="rowapplicationStatus">
       <div class="col-lg-4 col-md-5">
          <h5>{{element.name}}</h5>
       </div>
        <div class="col-lg-8 col-md-7">
          <p>{{element.status}}</p>
        </div>
      </div>
    </div>
  -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <tr>
                      <th>id</th>
                      <th>Name</th>
                      <th>Email id</th>
                      <th>Loan Amount</th>
                      <th>Deadline Date</th>
                      <th>Bank Account</th>
                      <th>Credit Score</th>
                    </tr>
                    <tbody>
                    <tr *ngFor="let customer of customers">
                      <td>{{customer.id}}</td>
                      <td>{{customer.userDetails.firstName}} {{customer.userDetails.lastName}}</td>
                      <td>{{customer.contactDetails.emailId}}</td>
                      <td>{{customer.loanDetails.loanAmount}}</td>
                      <td>{{customer.loanDetails.deadlineDate}}</td>
                      <td>{{customer.paymentDetails.bankAccount}}</td>
                      <td>{{customer.score}}</td>
                      <td>
                        <button class="btn btn-sm btn-warning" (click)="changeStatus(customer)">{{customer.status == 'BLOCKED' ? "UnBlock":"Block"}}</button>
                        <button class="btn btn-sm btn-danger" (click)="deleteCustomer(customer.id)">Delete</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>
