<div>

  <div id="faqScr" class="faq-scr cmsmasters_row" style="height: 600px">

    <div  class="cmsmasters_row_outer_parent">
      <h1 class="text-center text-white faq-heading">FAQ</h1>
    </div>

  </div>

  <div class="container faq-page-content">
    <div class="row">
      <div class="col-md-12 ">
        <h2 class="text-center font-weight-bold p-4">Frequently Asked Questions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="row">
          <div class="col-md-5">
            <h4>Q. What is Payday loan?</h4>
            <p>				      Payday  loan is a small amount of loan, easily repaid, which helps in various financial  emergencies:</p>
            <p>
              &#8594; Organize emergency cares<br>
              &#8594; Pay all the &ldquo;Claiming Bill&rdquo; just  in time<br>
            </p>
            <h4>Q. How much money can you borrow?</h4>
            <p>
              &#8594; To know how much you can  borrow..? &nbsp;$100 to $1000 Complete our  quick payday form today!!<br>
            </p>
            <h4>Q. How long do borrowers have to pay back?</h4>
            <p>
              &#8594; Repaying your payday loan could  not be easier but not impossible either.<br>
              &#8594; As, it&rsquo;s rightly said, &ldquo;A penny  saved is a penny earned&rdquo;, it is always the customer&rsquo;s interest to pay off a  loan and avoid the unnecessary inviting duties<br>
            </p>
            <h4>Q. Any application fee?</h4>
            <p>
              &#8594; Obviously, no!! <br>
              &#8594; The short-term lenders usually impose some  fee for the loan taken<br>
              &#8594; There are no origination fees or any other hidden  charges<br>
            </p>
            <h4>Q. Who can apply for payday Loan?</h4>
            <p>
              &#8594; Borrower should be at least 18  years of age<br>
              &#8594; Steady income Source. <br>
              &#8594; Should be a US citizen.<br>
            </p>
            <h4>Q. How long does it take for an approval and then to get a loan? </h4>
            <p>
              &#8594; Shortly after the lender has  confirmed the details and the information of the applicant, <br>
              &#8594; &ldquo;10 minutes and all the moneys  yours&rdquo;<br>
            </p>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <h4>Q. What if an applicant has no or bad credit?</h4>
            <p>
              &#8594; No worries. Each applicant is caressed  separately, depending upon the status reports; though each of the lender&rsquo;s endorsements  varies.<br>
            </p>
            <h4>Q. personal information kept confidential?</h4>
            <p>
              &#8594; Yes! As its online banking, the creditors  are protective towards the privacy and security of their customer&rsquo;s  information. <br>
              &#8594; Additionally, encrypted SSL (Secure Socket  Layer) servers ensures security to the online transactions and data transmitted<br>
              &#8594; Creditors disclose their privacy policies to  its customers<br>
            </p>
            <h4>Q. borrowers cancel a short term loan?</h4>
            <p>                      Yes.  Most short-term creditors permit you to cancel your loan without any charges,  if you care to alert them of your decision within 24-72 hours or as set-forth  in the loan document after obtaining the loan.</p>
            <h4>Q. borrowers repay late?</h4>
            <p>
              &#8594; Some creditors might impose a late  fee for late payments<br>
              &#8594; This amount and any grace period  will be disclosed in the loan agreement<br>
            </p>
            <h4>Q. borrower doesn&rsquo;t repay?</h4>
            <p>
              &#8594; A collection agency might be  engaged by the creditors or the short-term lenders to collect the debt.<br>
              &#8594; However they will not prosecute  you for the non-payment<br>
            </p>
            <h4>Q. How can an applicant identify a reputable short term  lender?&nbsp;</h4>
            <p>                    The  certifications and the other association emblems that the lender exhibit, fully  complies to the borrower to choose his reputed, dedicated and trustworthy  short-term lender.</p>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container" id="payDayLoanServices" class=" payDay-loan-services">
    <div class="row p-md-4">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-4">
            <div class="payday-bg"><h4 class="text-white font-weight-bold">Payday Loan Services</h4></div>
            <br>
            <p class="text-white">
              &#8594; 100% Secure<br>
              &#8594; Fast Approval<br>
              &#8594; Up to $1000<br>
              &#8594; Cash Advance<br>
              &#8594; No Credit Check<br>
              &#8594; Paperwork: none<br>
              &#8594; Hassles: none<br>
            </p>
            <br>

          </div>
          <div class="col-md-4 ">
            <div class="recomended-bg"><h4 class="text-white font-weight-bold">Recomended Reading</h4></div>
            <br>
            <div><img src="../../../assets/images/speedloan4/map.jpg" alt="Online Loan Cards" class="map" title="Online Loan Cards Business Locations" border="0"></div>
          </div>
        </div>
      </div>
    </div>
  </div>







  <!--------------------------------------------------------------old code----------------------------------->
  <!--<div style="height: 90px;background-color: #6db3e4;"> </div>-->
<!--<div class="faq-scr">-->
  <!--<div class="col-md-12 row faq-scr-bg">-->
    <!--<div class="col-md-8">-->
      <!--<div class="frequently-bg"><h2 class="frequently-color">Frequently Asked Questions</h2></div>-->
      <!--<h3><strong>Q. What is Payday loan?</strong></h3>-->
      <!--<p>				      Payday  loan is a small amount of loan, easily repaid, which helps in various financial  emergencies:</p>-->
      <!--<ul>-->
        <!--<li>Organize emergency cares</li>-->
        <!--<li>Pay all the &ldquo;Claiming Bill&rdquo; just  in time</li>-->
      <!--</ul>-->
      <!--<h3><strong>Q. How much money can you borrow?</strong></h3>-->
      <!--<ul>-->
        <!--<li>To know how much you can  borrow..? &nbsp;$100 to $1000 Complete our  quick payday form today!!</li>-->
      <!--</ul>-->
      <!--<h3><strong>Q. How long do borrowers have to pay back?</strong></h3>-->
      <!--<ul>-->
        <!--<li>Repaying your payday loan could  not be easier but not impossible either.</li>-->
        <!--<li>As, it&rsquo;s rightly said, &ldquo;A penny  saved is a penny earned&rdquo;, it is always the customer&rsquo;s interest to pay off a  loan and avoid the unnecessary inviting duties</li>-->
      <!--</ul>-->
      <!--<h3><strong>Q. Any application fee?</strong></h3>-->
      <!--<ul>-->
        <!--<li>Obviously, no!! </li>-->
        <!--<li>The short-term lenders usually impose some  fee for the loan taken</li>-->
        <!--<li>There are no origination fees or any other hidden  charges</li>-->
      <!--</ul>-->
      <!--<h3><strong>Q. Who can apply for payday Loan?</strong></h3>-->
      <!--<ul>-->
        <!--<li>Borrower should be at least 18  years of age</li>-->
        <!--<li>Steady income Source. </li>-->
        <!--<li>Should be a US citizen.</li>-->
      <!--</ul>-->
      <!--<h3><strong>Q. How long does it take for an approval and then to get a loan? </strong></h3>-->
      <!--<ul>-->
        <!--<li>Shortly after the lender has  confirmed the details and the information of the applicant, </li>-->
        <!--<li>&ldquo;10 minutes and all the moneys  yours&rdquo;</li>-->
      <!--</ul>-->
      <!--<h3><strong>Q. What if an applicant has no or bad credit?</strong></h3>-->
      <!--<ul>-->
        <!--<li>No worries. Each applicant is caressed  separately, depending upon the status reports; though each of the lender&rsquo;s endorsements  varies.</li>-->
      <!--</ul>-->
      <!--<h3><strong>Q. personal information kept confidential?</strong></h3>-->
      <!--<ul>-->
        <!--<li>Yes! As its online banking, the creditors  are protective towards the privacy and security of their customer&rsquo;s  information. </li>-->
        <!--<li>Additionally, encrypted SSL (Secure Socket  Layer) servers ensures security to the online transactions and data transmitted</li>-->
        <!--<li>Creditors disclose their privacy policies to  its customers</li>-->
      <!--</ul>-->
      <!--<h3><strong>Q. borrowers cancel a short term loan?</strong></h3>-->
      <!--<p>                      Yes.  Most short-term creditors permit you to cancel your loan without any charges,  if you care to alert them of your decision within 24-72 hours or as set-forth  in the loan document after obtaining the loan.</p>-->
      <!--<h3><strong>Q. borrowers repay late?</strong></h3>-->
      <!--<ul>-->
        <!--<li>Some creditors might impose a late  fee for late payments</li>-->
        <!--<li>This amount and any grace period  will be disclosed in the loan agreement</li>-->
      <!--</ul>-->
      <!--<h3><strong>Q. borrower doesn&rsquo;t repay?</strong></h3>-->
      <!--<ul>-->
        <!--<li>A collection agency might be  engaged by the creditors or the short-term lenders to collect the debt.</li>-->
        <!--<li>However they will not prosecute  you for the non-payment</li>-->
      <!--</ul>-->
      <!--<h3><strong>Q. How can an applicant identify a reputable short term  lender?&nbsp;</strong></h3>-->
      <!--<p>                    The  certifications and the other association emblems that the lender exhibit, fully  complies to the borrower to choose his reputed, dedicated and trustworthy  short-term lender.</p>-->
    <!--</div>-->



    <!--<div class="col-md-4">-->
      <!--<div class="col-md-12">-->
        <!--<div class="loan-serv-bg"><h2 class="loan-serv-color">Payday Loan Services</h2></div>-->
        <!--<ul>-->
          <!--<li>100% Secure</li>-->
          <!--<li>Fast Approval</li>-->
          <!--<li>Up to $1000</li>-->
          <!--<li>Cash Advance</li>-->
          <!--<li>No Credit Check</li>-->
          <!--<li>Paperwork: none</li>-->
          <!--<li>Hassles: none</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="col-md-12">-->
        <!--<div class="recrd-bg"><h2 class="recrd-color">Recomended Reading</h2></div>-->
        <!--<div><img src="../../../assets/images/speedloan4/map.jpg" alt="Online Loan Cards" class="map" title="Online Loan Cards Business Locations" border="0"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->
  <a href="/faq" class="back-to-top"><i class="ion ion-chevron-up"></i></a>
  <app-footer></app-footer>
</div>
