<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content" id="loginDiv">
  <div class="logo">
    <h1>Quick Loan Admin Portal</h1>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div id="login-box" class="login-box">
    <div class="login-form">
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i> SIGN IN</h3>
      <div class="form-group">
        <label class="control-label">Enter User Name</label>

        <input type="text" formControlName="username" class="form-control border-input" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">User Name is required</div>
          <div *ngIf="f.username.errors.minlength">User Name must be at least 5 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Enter Password</label>

        <input type="text" formControlName="password" class="form-control border-input" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 5 characters</div>
        </div>

      </div>

      <div class="form-group btn-container">
        <button class="btn btn-primary btn-block" type="submit" id="signIn"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN
          IN
        </button>
      </div>
    </div>


  </div>

  </form>
</section>
