.home-input {
  margin: 10px;
}

.speedy-loan {
  margin-top: 100px;
}

.expenses {
  color: white;
  margin: 10px;
}

.homepage-form {
  text-align: center;
}

.email {
  margin-left: 25px;
}

.submit-btn {
  width: 30%;
}

.img-name {
  margin-top: 40px;
}

.click-link {
  text-align: center;
}

.link {
  color: blue;
  cursor: pointer;
}

.apply-ol-bg {
  background-color: darkslateblue;
}

.apply-ol {
  color: white;
}

.payday-bg {
  background-color: darkslateblue;
}

.payday {
  color: white;
}

.faq-bg {
  background-color: darkslateblue;
}

.faq {
  color: white;
}

.error-msg {
  border: none;
  padding: 0px;
  margin: 0px;
}
