<div class="speedy-loan">
  <div class="col-md-12 row">
    <div class="col-md-6 row">
      <div class="col-md-5"><h2 class="expenses">{{appComponents.title}} when expenses exceed savings
        and income</h2></div>
      <div class="col-md-5"><img src="../../../assets/images/money.jpg" width="270" height="300"></div>
      <div class="col-md-2"></div>
    </div>
    <div class="col-md-6 homepage-form">
      <form name="basic-form">
        <div class="col-md-12 row">
        <div class="col-md-6">
        <input class="form-control home-input" name="userName" type="text" placeholder="FirstName LastName">
        <input class="form-control home-input" name="contactNumber" type="text" placeholder="Contact Number">
        </div>
        <div class="col-md-6">
        <input class="form-control home-input" name="loanAmount" type="text" placeholder="Loan Amount">
        <input class="form-control home-input" name="zipCode" type="text" placeholder="Zip Code">
        </div>
        <input  class="form-control email" name="emailAddress" placeholder="Email Address" type="text">
        </div>
        <button  class="btn btn-primary home-input submit-btn" name="submit">Submit</button>
        <button class="btn btn-success home-input submit-btn" name="login">Login</button>
      </form>
    </div>
  </div>

  <div class="col-md-12 row img-name" >
    <div class="col-md-3">
      <div>
        <h3>100% Safe & Secure</h3>
        <p><img src="../../../assets/images/speedloan4/forsecureloan.png" width="230" height="150"/></p>
        <ul>
          <li> Guarented Security</li>
          <li> Fast & simple</li>
          <li> Online cash Transfer</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <h3>Instant e-Approval</h3>
        <p><img src="../../../assets/images/speedloan4/instanteapproval.png" width="230" height="150"/></p>
        <ul>
          <li> speed Loan</li>
          <li> fill online form</li>
          <li> Quick cash</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <h3>24x7 Guide</h3>
        <p><img src="../../../assets/images/speedloan4/24x7.png" width="230" height="150"/></p>
        <ul>
          <li> Speed support</li>
          <li> Fast processing</li>
          <li> No Application Fee</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <h3>Small Loans</h3>
        <p><img src="../../../assets/images/speedloan4/smallloans.png" width="230" height="150"/></p>
        <ul>
          <li> Rapid installment</li>
          <li> No Paperwork</li>
          <li> No faxing</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="click-link">
    <a style="color: blue; cursor: pointer" routerLinkActive="active current" [routerLink]="['../apply']">Click here to Apply Now</a>
  </div>

  <div class="col-md-12 row">
    <div class="col-md-8">
      <div class="apply-ol-bg"><h2 class="apply-ol">Apply Online Now and Get Instant
        e-Approval </h2></div>
      <p>You always want to go shopping at the end of the month or you want to pay the installment of the LCD TV in
        your bedroom or grab the latest LED or pay the medical and other important bills. Problematic? Don&rsquo;t
        worry; you are exactly where you are supposed to be! In fact, speedloan4U exists for this very reason.</p>
      <p> We help you improve your financial situation, quick and just a few steps away. However, we don&rsquo;t
        discriminate who had difficulty obtaining short term loan, previously. Now, we are here to help you in your
        times of worries and make you more comfortable.<br/>
        Our Specialty</p>
      <ul>
        <li> An exclusive offer to our payday loans customers who are ready to enjoy.</li>
        <li> We fund your dreams; we also understand that you need to spend.</li>
        <li> Use our owned source of funds, and take a loan, up to 1000$, if you want to purchase something and
          payback urgently
        </li>
        <li> No secret charges to fill the form &amp; get the loan from the trusted Lenders directly</li>
      </ul>
      <p>&nbsp;</p>
      <h3 align="center"><strong>Speedloan4u is the Quality Lender with the unique features and the </strong></h3>
      <h3 align="center"><strong>uncountable benefits</strong> <strong>Fill the Loan application form Right
        Now</strong><br/>
        <strong>Pay a few installments upfront along with a nominal processing fee</strong></h3>
      <h3>&nbsp;</h3>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="payday-bg"><h2 class="payday">Payday Loan Services</h2></div>
        <ul>
          <li>100% Secure</li>
          <li>Fast Approval</li>
          <li>Up to $1000</li>
          <li>Cash Advance</li>
          <li>No Credit Check</li>
          <li>Paperwork: none</li>
          <li>Hassles: none</li>
        </ul>
      </div>
      <div class="col-md-12">
        <div class="faq-bg"><h2 class="faq">FAQ's</h2></div>
        <p><a href="faq.html">Q. What is Payday loan?</a></p>
        <p><a href="faq.html">Q. How much money can you borrow?</a></p>
        <p><a href="faq.html">Q. Any application fee?</a></p>
        <p><a href="faq.html">Q. Who can apply for payday Loan?</a></p>
      </div>
    </div>
  </div>

</div>
