<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="jumbotron home-contents">
    <h1 i18n>User Management</h1>
    <h3>(Home)</h3>
    <p class="lead home-text">User management is an exclusive network of the top software developers, designers, experts in the world.
      Top companies rely on us for their most important projects.</p><br><br><br><br><br><br><br>
    <a class="btn btn-lg btn-success" href="/user" role="button"><span class="glyphicon glyphicon-search" aria-hidden="false"></span>User Management >></a>
  </div>
</div>
