.welcome-header{
  background:url(../assets/images/speedloan4/footer-bg.jpg)
}
.app-contact{
  text-align: right;
  margin-right: 10px
}
.welcom-heading{
  color: white;
  margin-left: 10px;
  margin-bottom: 0px;
}
