
$green:   #43c692 !default;
$green-btn-color1:#43c692;
$green-btn-color2:#39b885;
$green-btn-color: linear-gradient($green-btn-color1,$green-btn-color2);
$blue: #3863a0 !default;
//$primary:       $green-btn-color1 !default;


$theme-colors: (
  primary: $blue,
  success: $green
);

