<div>

  <div id="imageDiv" class=" image-div cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed" style="height: 600px">
    <div class="cmsmasters_row_outer_parent">
              <div class="how-it-works text-center text-white">
                <div>
                <h1>How it works?</h1>
              </div>
              <div>
                <h2>There is always a way to get money quick</h2>
              </div>
              </div>
    </div>
  </div>

  <div class="container how-it-works-content">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 mb-5">
            <div class="row">
              <div class="col-md-5">
                <h4>You must guarantee</h4>
                <br>
                <p>
                  &#8594; You  are 18 years old or above<br>
                  &#8594; A  valid bank account that receives direct debits<br>
                  &#8594; An  assured source of income<br>
                  &#8594; Strictly  a citizen of country <br>
                </p>
                <br>
                <h4>Two easy steps to get going and to  become happier&hellip;..!</h4>
                <p><img src="../../../assets/images/speedloan4/steps.png" width="600" height="292"/></p>
                <br>
                <h3 align="center"><strong>Easy installment process</strong></h3>
                <h3 align="center"><strong>Early pay can be a good choice</strong></h3>
              </div>
              <div class="col-md-2">

              </div>
              <div class="col-md-5">
                <h4>Start now: </h4>
                <br>
                <p><strong>Fill in:</strong></p>
                <p>
                  &#8594; The General  information <br>
                  &#8594; The  Bank details and<br>
                  &#8594; The  Employment details<br>
                </p> <br>
                <h4>See what&rsquo;s coming more in a package for  you&hellip;</h4> <br>
                <p>
                  &#8594; No  Paperwork, No Office Visit and No More Waiting in long, tiring queues<br>
                  &#8594; Online  application absolutely free<br>
                  &#8594; Convenient  &amp; Affordable Payment Options<br>
                  &#8594; Friendly  Treatment with due respect<br>
                  &#8594; No  barriers to early pay-off<br>
                  &#8594; Online  application absolutely free<br>
                  &#8594; Firstly  fill in the three step application form as per your requirements&nbsp; <br>
                  &#8594; Friendly  Treatment with due respect<br>
                  &#8594; Trusted  Lenders with Direct Contacts<br>
                  &#8594; Lenders  thrive to Maintain Healthy Relationship with High Customer Satisfaction<br>
                  &#8594; No  Paperwork, No Office Visit and No More Waiting in long queues<br>
                  &#8594; Everything&rsquo;s  online<br>
                  &#8594; Cash  directly deposited in your bank account, and the next it&rsquo;s in your hands, in an  hour.<br>
                  &#8594; Convenient  &amp; Affordable Payment Options <br>
                  &#8594; Easy  repay process (link that would describe the process or the variable options)<br>
                  &#8594; Short  Term Installment Options<br>
                  &#8594; No  fee for early pay-off<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="payDayLoanServices" class=" payday-loan-services">
    <div class="row p-md-4">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-4">
            <div class="payday-bg"><h4 class="text-white font-weight-bold">Payday Loan Services</h4></div>
            <br>
            <p class="text-white">
              &#8594; 100% Secure<br>
              &#8594; Fast Approval<br>
              &#8594; Up to $1000<br>
              &#8594; Cash Advance<br>
              &#8594; No Credit Check<br>
              &#8594; Paperwork: none<br>
              &#8594; Hassles: none<br>
            </p>
            <br>

          </div>
          <div class="col-md-4 ">
            <div class="recomended-bg"><h4 class="text-white font-weight-bold">Recomended Reading</h4></div>
            <br>
            <div><img src="../../../assets/images/speedloan4/map.jpg" alt="Online Loan Cards" class="map" title="Online Loan Cards Business Locations" border="0"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-----------------------------------------------new code----------------------------------->
  <!--<div class="how-it-works-content">-->
    <!--<div style="height:1200px" class="container">-->
      <!--&lt;!&ndash;<div class="work-bg"><h2 class="work-color">How IT works </h2></div>&ndash;&gt;-->
      <!--<div class="col-md-12 row background">-->
        <!--<div class="col-md-5">-->
          <!--<h4>You must guarantee</h4>-->
          <!--<br>-->
          <!--<ul>-->
          <!--<li>You  are 18 years old or above</li>-->
          <!--<li>A  valid bank account that receives direct debits</li>-->
          <!--<li>An  assured source of income</li>-->
          <!--<li>Strictly  a citizen of country </li>-->
          <!--</ul>-->
          <!--<br>-->
          <!--<h4>Two easy steps to get going and to  become happier&hellip;..!</h4>-->
          <!--<p><img src="../../../assets/images/speedloan4/steps.png" width="600" height="292"/></p>-->
          <!--<br>-->
          <!--<div class="payday-bg"><h4 class="payloan-color">Payday Loan Services</h4></div>-->
          <!--<br>-->
          <!--<ul>-->
            <!--<li>100% Secure</li>-->
            <!--<li>Fast Approval</li>-->
            <!--<li>Up to $1000</li>-->
            <!--<li>Cash Advance</li>-->
            <!--<li>No Credit Check</li>-->
            <!--<li>Paperwork: none</li>-->
            <!--<li>Hassles: none</li>-->
          <!--</ul>-->
          <!--<br>-->
          <!--<h3 align="center"><strong>Easy installment process</strong></h3>-->
          <!--<h3 align="center"><strong>Early pay can be a good choice</strong></h3>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
        <!--</div>-->
        <!--<div class="col-md-5">-->
          <!--<h4>Start now: </h4>-->
          <!--<br>-->
          <!--<p><strong>Fill in:</strong></p>-->
          <!--<ul>-->
          <!--<li> The General  information</li>-->
          <!--<li> The  Bank details and</li>-->
          <!--<li> The  Employment details</li>-->
          <!--</ul>-->
          <!--<p><strong>See what&rsquo;s coming more in a package for  you&hellip;</strong></p>-->
          <!--<ul>-->
          <!--<li>No  Paperwork, No Office Visit and No More Waiting in long, tiring queues</li>-->
          <!--<li>Online  application absolutely free</li>-->
          <!--<li>Convenient  &amp; Affordable Payment Options</li>-->
          <!--<li>Friendly  Treatment with due respect</li>-->
          <!--<li>No  barriers to early pay-off</li>-->
          <!--<li>Online  application absolutely free</li>-->
          <!--<li>Firstly  fill in the three step application form as per your requirements&nbsp; </li>-->
          <!--<li>Friendly  Treatment with due respect</li>-->
          <!--<li>Trusted  Lenders with Direct Contacts</li>-->
          <!--<li>Lenders  thrive to Maintain Healthy Relationship with High Customer Satisfaction</li>-->
          <!--<li>No  Paperwork, No Office Visit and No More Waiting in long queues</li>-->
          <!--<li>Everything&rsquo;s  online</li>-->
          <!--<li>Cash  directly deposited in your bank account, and the next it&rsquo;s in your hands, in an  hour.</li>-->
          <!--<li>Convenient  &amp; Affordable Payment Options </li>-->
          <!--<li>Easy  repay process (link that would describe the process or the variable options)</li>-->
          <!--<li>Short  Term Installment Options</li>-->
          <!--<li>No  fee for early pay-off</li>-->
          <!--</ul>-->
      <!--</div>-->

      <!--<div class="col-md-12 row background mt-5">-->
        <!--<div class="col-md-6">-->

        <!--</div>-->
        <!--<div  class="col-md-6">-->
          <!--<div class="recomended-bg"><h4 class="recomended-color">Recomended Reading</h4></div>-->
          <!--<br>-->
          <!--<div><img src="../../../assets/images/speedloan4/map.jpg" alt="Online Loan Cards" class="map" title="Online Loan Cards Business Locations" border="0"></div>-->
        <!--</div>-->
      <!--</div>-->
        <!--<div>-->

        <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--</div>-->

<!-------------------------------------------------------------------------old code------------------------->
  <!--<div style="height: 90px;background-color: #6db3e4;"> </div>-->
  <!--<div class="working">-->
    <!--<div class="col-md-12 row bgck-color">-->
      <!--<div class="col-md-8">-->
        <!--<div class="work-bg"><h2 class="work-color">How IT works </h2></div>-->
        <!--<p><strong>You must guarantee</strong></p>-->
        <!--<ul>-->
          <!--<li>You  are 18 years old or above</li>-->
          <!--<li>A  valid bank account that receives direct debits</li>-->
          <!--<li>An  assured source of income</li>-->
          <!--<li>Strictly  a citizen of country </li>-->
        <!--</ul>-->
        <!--<p><strong>Two easy steps to get going and to  become happier&hellip;..!</strong></p>-->
        <!--<p><img src="../../../assets/images/speedloan4/steps.png" width="600" height="292"/></p>-->
        <!--<p><strong>Start now: </strong></p>-->
        <!--<p><strong>Fill in:</strong></p>-->
        <!--<ul>-->
          <!--<li> The General  information</li>-->
          <!--<li> The  Bank details and</li>-->
          <!--<li> The  Employment details</li>-->
        <!--</ul>-->
        <!--<p><strong>See what&rsquo;s coming more in a package for  you&hellip;</strong></p>-->
        <!--<ul>-->
          <!--<li>No  Paperwork, No Office Visit and No More Waiting in long, tiring queues</li>-->
          <!--<li>Online  application absolutely free</li>-->
          <!--<li>Convenient  &amp; Affordable Payment Options</li>-->
          <!--<li>Friendly  Treatment with due respect</li>-->
          <!--<li>No  barriers to early pay-off</li>-->
          <!--<li>Online  application absolutely free</li>-->
          <!--<li>Firstly  fill in the three step application form as per your requirements&nbsp; </li>-->
          <!--<li>Friendly  Treatment with due respect</li>-->
          <!--<li>Trusted  Lenders with Direct Contacts</li>-->
          <!--<li>Lenders  thrive to Maintain Healthy Relationship with High Customer Satisfaction</li>-->
          <!--<li>No  Paperwork, No Office Visit and No More Waiting in long queues</li>-->
          <!--<li>Everything&rsquo;s  online</li>-->
          <!--<li>Cash  directly deposited in your bank account, and the next it&rsquo;s in your hands, in an  hour.</li>-->
          <!--<li>Convenient  &amp; Affordable Payment Options </li>-->
          <!--<li>Easy  repay process (link that would describe the process or the variable options)</li>-->
          <!--<li>Short  Term Installment Options</li>-->
          <!--<li>No  fee for early pay-off</li>-->
        <!--</ul>-->
        <!--<h3 align="center"><strong>Easy installment process</strong></h3>-->
        <!--<h3 align="center"><strong>Early pay can be a good choice</strong></h3>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<div class="col-md-12">-->
          <!--<div class="loan-bg"><h2 class="loan-color">Payday Loan Services</h2></div>-->
          <!--<ul>-->
            <!--<li>100% Secure</li>-->
            <!--<li>Fast Approval</li>-->
            <!--<li>Up to $1000</li>-->
            <!--<li>Cash Advance</li>-->
            <!--<li>No Credit Check</li>-->
            <!--<li>Paperwork: none</li>-->
            <!--<li>Hassles: none</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-12">-->
          <!--<div class="recomended-bg"><h2 class="recomended-color">Recomended Reading</h2></div>-->
          <!--<div><img src="../../../assets/images/speedloan4/map.jpg" alt="Online Loan Cards" class="map" title="Online Loan Cards Business Locations" border="0"></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
  <a href="/how-it-works" class="back-to-top"><i class="ion ion-chevron-up"></i></a>
  <app-footer></app-footer>
</div>
