<div style="margin-top: 100px">
  <div class="col-md-12 row" style="background-color: #B6D8F0; margin: 5px; padding-top: 5px;">
    <div class="col-md-8">
      <div style="background-color: darkslateblue"><h2 style="color: white">About Us</h2></div>
      <h3><strong>A transparent and a quick process to get cash  online including bad credits</strong></h3>
      <ul>
        <li>Are you tired of hunting market for credit? </li>
        <li>The investigation is utterly exhausting?</li>
        <li>You don&rsquo;t want to be cheated? </li>
        <li>And, you need the Cash, a Loan at once, with  no more struggles!</li>
      </ul>
      <p>Speedloan4u is the  best option with 99% approval rate from the trusted loan lenders. All you need  to do is, fill in a simple three stepped application form and get consent in  next 30-40 minutes. Because, gone are the days of troubling yourself by going to  the traditional financial lender and his lengthy procedures for the approval.</p>
      <h3><strong>Can you apply with bad credits?</strong></h3>
      <p>                      We at Speedloan4u  make a short study of your credit record, furthermore your loan becomes just a  click away and a while later it&rsquo;s in stuffed in your account.</p>
      <h3><strong>Play Safe with high reliability</strong></h3>
      <p>                    Security of your  personal information is what we care, the most, along with letting you enjoy  your life with highest rate of support. For more details on security of your  information you can check privacy policy.</p>
      <h3><strong>Thanks to Speedloan4u and its customers</strong></h3>
      <p>                      Speedloan4u is a  payday loan site, well establish in the market, improving the quality and  performance with our customers love &amp; trust. Speedloan4u is so designed to  accomplish your dreams</p>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <div style="background-color: darkslateblue"><h2 style="color: white">Payday Loan Services</h2></div>
        <ul>
          <li>100% Secure</li>
          <li>Fast Approval</li>
          <li>Up to $1000</li>
          <li>Cash Advance</li>
          <li>No Credit Check</li>
          <li>Paperwork: none</li>
          <li>Hassles: none</li>
        </ul>
      </div>
      <div class="col-md-12">
        <div style="background-color: darkslateblue"><h2 style="color: white">Recomended Reading</h2></div>
        <div><img src="../../../assets/images/speedloan4/map.jpg" alt="Online Loan Cards" class="map" title="Online Loan Cards Business Locations" border="0"></div>
      </div>
    </div>
  </div>

</div>
