.bg-color {
  background: #b6d8f0 url(../../assets/images/speedloan4/bg.jpg) top no-repeat;
}

.nav-tab {
  position: absolute;
  right: 0px;
  cursor: pointer;
  margin-top: 27px;
  margin-bottom: 25px;
}

.marq {
  margin-bottom: 12px;
}

.foot-bg-color {
  background: url(../../assets/images/speedloan4/footer-bg.jpg);
}

.foot-nav {
  cursor: pointer;
}

.home-link, .about-link, .works-link, .apply-link, .faq-link, .contact-link {
  color: white;
}
