<div>
  <div style="background:#b6d8f0 url(../../assets/images/speedloan4/bg.jpg) top no-repeat">
    <div class="col-md-12">
      <div>
        <div class="tabbable">
          <ul class="nav nav-tabs" style="position: absolute; right: 0px; cursor: pointer; margin-top: 27px; margin-bottom: 25px">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active current" [routerLink]="['home']" data-toggle="tab">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active current" [routerLink]="['about']" data-toggle="tab">About
                Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active current" [routerLink]="['working']" data-toggle="tab">How
                it Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active current" [routerLink]="['apply']"
                 data-toggle="tab">Apply</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active current" [routerLink]="['faq']" data-toggle="tab">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active current" [routerLink]="['contact']" data-toggle="tab">Contact
                Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <marquee direction="left"><h5 style="margin-bottom: 12px">Get your Quick loan for Instant needs on One Click</h5></marquee>


    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



<div class="footer col-md-12" style="background: url(../../assets/images/speedloan4/footer-bg.jpg);">
  <div id="footer_under_left_top">
    <div class="tabbable">
      <ul class="nav" style="cursor: pointer;">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" [routerLink]="['home']" data-toggle="tab">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" [routerLink]="['about']" data-toggle="tab">About
            Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" [routerLink]="['working']" data-toggle="tab">How
            it Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" [routerLink]="['apply']"
             data-toggle="tab">Apply</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" [routerLink]="['faq']" data-toggle="tab">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" [routerLink]="['contact']" data-toggle="tab">Contact
            Us</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="footer_under_left_bottom">
    <p>@ 2017 {{appComponents.title}}.com! All rights reserved.</p>
  </div>
</div>
