<div class="working">
  <div class="col-md-12 row bgck-color">
    <div class="col-md-8">
      <div class="work-bg"><h2 class="work-color">How IT works </h2></div>
      <p><strong>You must guarantee</strong></p>
      <ul>
        <li>You  are 18 years old or above</li>
        <li>A  valid bank account that receives direct debits</li>
        <li>An  assured source of income</li>
        <li>Strictly  a citizen of country </li>
      </ul>
      <p><strong>Two easy steps to get going and to  become happier&hellip;..!</strong></p>
      <p><img src="../../../assets/images/speedloan4/steps.png" width="600" height="292"/></p>
      <p><strong>Start now: </strong></p>
      <p><strong>Fill in:</strong></p>
      <ul>
        <li> The General  information</li>
        <li> The  Bank details and</li>
        <li> The  Employment details</li>
      </ul>
      <p><strong>See what&rsquo;s coming more in a package for  you&hellip;</strong></p>
      <ul>
        <li>No  Paperwork, No Office Visit and No More Waiting in long, tiring queues</li>
        <li>Online  application absolutely free</li>
        <li>Convenient  &amp; Affordable Payment Options</li>
        <li>Friendly  Treatment with due respect</li>
        <li>No  barriers to early pay-off</li>
        <li>Online  application absolutely free</li>
        <li>Firstly  fill in the three step application form as per your requirements&nbsp; </li>
        <li>Friendly  Treatment with due respect</li>
        <li>Trusted  Lenders with Direct Contacts</li>
        <li>Lenders  thrive to Maintain Healthy Relationship with High Customer Satisfaction</li>
        <li>No  Paperwork, No Office Visit and No More Waiting in long queues</li>
        <li>Everything&rsquo;s  online</li>
        <li>Cash  directly deposited in your bank account, and the next it&rsquo;s in your hands, in an  hour.</li>
        <li>Convenient  &amp; Affordable Payment Options </li>
        <li>Easy  repay process (link that would describe the process or the variable options)</li>
        <li>Short  Term Installment Options</li>
        <li>No  fee for early pay-off</li>
      </ul>
      <h3 align="center"><strong>Easy installment process</strong></h3>
      <h3 align="center"><strong>Early pay can be a good choice</strong></h3>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="loan-bg"><h2 class="loan-color">Payday Loan Services</h2></div>
        <ul>
          <li>100% Secure</li>
          <li>Fast Approval</li>
          <li>Up to $1000</li>
          <li>Cash Advance</li>
          <li>No Credit Check</li>
          <li>Paperwork: none</li>
          <li>Hassles: none</li>
        </ul>
      </div>
      <div class="col-md-12">
        <div class="recomended-bg"><h2 class="recomended-color">Recomended Reading</h2></div>
        <div><img src="../../../assets/images/speedloan4/map.jpg" alt="Online Loan Cards" class="map" title="Online Loan Cards Business Locations" border="0"></div>
      </div>
    </div>
  </div>

</div>
