.working{
  margin-top: 100px
}
.bgck-color{
  background-color: #B6D8F0; margin: 5px; padding-top: 5px;
}
.work-bg{
  background-color: darkslateblue
}
.work-color{
 color: white
}
.loan-bg{
  background-color: darkslateblue
}
.loan-color{
  color: white
}
.recomended-bg
{
  background-color: darkslateblue
}
.recomended-color{
  color: white
}
