

<!---------------------------------first div-------------------------->
  <div id="aboutSpeedLoan"
       class="cmsmasters_row about-speed-loan" style="height: 600px">
    <div class="cmsmasters_row_outer_parent">
      <div class="speed-loan text-center text-white">
              <div >
                <h1 class="heading-about-speedy-loan">About Speed Loan</h1>
              </div>
               <div>
                <h3>This is why we are so awesome</h3>
              </div>
      </div>
          </div>
  </div>


  <!---------------------------------second div-------------------------->

  <div>
          <div class="" style="height:200px">
              <div class="welcome-to-speedloan">
                <h2 class="welcome">Welcome to the SpeedLoan!</h2>
                <h5 class="heading-we-offer">We offer a totally new way of borrowing </h5>
              </div>
            </div>
  </div>


  <!---------------------------------third div-------------------------->

  <div class="page-content">
    <div style="height:400px" class="container">
      <div class="col-md-12 row background">
        <div class="col-md-6">
          <!--<div class="about-bg"><h2 class="aboutus-colo">About Us</h2></div>-->
          <h4>A transparent and a quick process to get cash  online including bad credits</h4>
          <br>
          <p>
            &#8594; Are you tired of hunting market for credit? <br>
            &#8594; The investigation is utterly exhausting?<br>
            &#8594; You don&rsquo;t want to be cheated? <br>
            &#8594; And, you need the Cash, a Loan at once, with  no more struggles!<br>
          </p>
          <br>
          <p>Speedloan4u is the  best option with 99% approval rate from the trusted loan lenders. All you need  to do is, fill in a simple three stepped application form and get consent in  next 30-40 minutes. Because, gone are the days of troubling yourself by going to  the traditional financial lender and his lengthy procedures for the approval.</p>
        </div>
        <div class="col-md-6">
          <h4>Can you apply with bad credits?</h4>
          <p>                      We at Speedloan4u  make a short study of your credit record, furthermore your loan becomes just a  click away and a while later it&rsquo;s in stuffed in your account.</p>
          <br>
          <h4>Play Safe with high reliability</h4>
          <p>Security of your  personal information is what we care, the most, along with letting you enjoy  your life with highest rate of support. For more details on security of your  information you can check privacy policy.</p>
          <br>
          <h4>Thanks to Speedloan4u and its customers</h4>
          <p>                      Speedloan4u is a  payday loan site, well establish in the market, improving the quality and  performance with our customers love &amp; trust. Speedloan4u is so designed to  accomplish your dreams</p>
          <br>
        </div>
      </div>
  </div>
  </div>


  <div class="container" id="payDayLoanServices" class=" payDay-loan-services page-content">
    <div class="row p-md-4">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-4">
            <div class="payday-bg"><h4 class="font-weight-bold text-white">Payday Loan Services</h4></div>
            <br>
            <p class="text-white">
              &#8594; 100% Secure<br>
              &#8594; Fast Approval<br>
              &#8594; Up to $1000<br>
              &#8594; Cash Advance<br>
              &#8594; No Credit Check<br>
              &#8594; Paperwork: none<br>
              &#8594; Hassles: none<br>
            </p>
            <br>

          </div>
          <div class="col-md-4 ">
            <div class="recomended-bg"><h4 class="font-weight-bold text-white">Recomended Reading</h4></div>
            <br>
            <div><img src="../../../assets/images/speedloan4/map.jpg" alt="Online Loan Cards" class="map" title="Online Loan Cards Business Locations" border="0"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<a href="/about-us" class="back-to-top"><i class="ion ion-chevron-up"></i></a>
  <app-footer></app-footer>
